body {
    background: radial-gradient(ellipse farthest-corner at bottom right, #e0ffff,beige );
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.form-card {
    background-color: rgba(255, 255, 255, 0.9); /* Légère transparence pour laisser entrevoir le fond */
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-link {
    color: #007bff;
}

.pagination .page-link:hover {
    color: #0056b3;
}