* {
    box-sizing: border-box;
}

.form-card {

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5rem;
    border-radius: 15px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
    padding: 1rem;
}

h2 {

    margin-bottom: 5rem;
}

img {

    width: 20rem;
    height: 20rem;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5rem;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}