* {
    box-sizing: border-box;
}

.lien {

    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
}

.ligne {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-bottom: solid lightgrey 1px;
}

.ligne:hover {

    background-color: antiquewhite;
    border-radius: 15px;
}