* {
    box-sizing: border-box;
}

.center {

    margin-left: 15%;
    margin-right: 15%;
    padding: 1rem;
}

/* 
INPUT TYPE TEXT


<div class="form__group field m-0">
    <input type="input" class="form__field" placeholder="Nouveau nom" name="new_name" id='name' required />
    <label for="name" class="form__label">Nouveau nom</label>
</div>


*/

:root {
    --primary: #11998e;
    --secondary: #38ef7d;
    --gray: #9b9b9b;
}

/* Styles */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
}

.form__field:focus {
    padding-bottom: 6px;
    /* font-weight: 700; */
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;
}

/* Reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

/* 
INPUT TYPE SUBMIT/BUTTON


<button class="button">
    <span class="button-text">Hover me</span>
    <div class="fill-container"></div>
</button>


*/

.button {
    position: relative;
    padding: 12px 64px;
    border-radius: 100vw;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    color: balck;
    border: solid 1px black(250, 250, 250, 0.3);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    /* easeOutQuart */
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    /* force safari to respect border radius */
}

.button .button-text {
    position: relative;
    z-index: 2;
}

.button .fill-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);
}

.button .fill-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F9982A;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    /* easeOutQuart */
    transform: translateY(-100%);
}

.button:hover {
    border-color: blue;
    transform: translateY(-4px);
}

.button:hover .fill-container {
    transform: translateY(-50%) rotate(0);
}

.button:hover .fill-container::after {
    transform: translateY(0);
}