body {
    background: radial-gradient(ellipse farthest-corner at bottom right, #e0ffff, beige);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.produit_panier {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produit_panier img {
    max-width: 100px;
    height: auto;
}

.produit_panier p {
    margin-bottom: 5px;
}

.produit_panier select, .produit_panier button {
    margin-top: 10px;
}

.bouton_suppr_produit_panier {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: not-allowed;
}

.bouton_suppr_produit_panier span {
    font-size: 20px;
}

.border-bottom {
    border-bottom: 2px solid #dee2e6;
}

.tva {
    color: #888;
}

.col-5 {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
}